body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 30px;
    color: #333;
}

h1 {
    text-align: center;
    color: #1f4e79;
}

h2 {
    color: #0b5ed7;
    border-bottom: 2px solid #0b5ed7;
    padding-bottom: 5px;
    margin-top: 40px;
}

p {
    line-height: 1.6;
    font-size: 16px;
}
.imgContainer{
    float:left;
}
.imgContainer1{
    float:down;
}
ul {
    line-height: 1.8;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
}

nav {
    background: #1f4e79;
    display: flex
}

nav a {
    flex:1;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    text-align:center;
}
card {
    width: 350px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.card img {
    border-radius: 8px;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}
nav a:hover {
    color: orange;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.project-box {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    text-align: center;
    transition: 0.3s;
}

.project-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

@media (max-width:768px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}

section {
    padding: 40px;
}
